// ======================chat-main===========================

.chat-main
  .chat-main__header
    .chat-main__header__group
      .chat-main__header__group__groupName
        = @group.name
      .chat-main__header__group__groupMember
        Member : masa
    .chat-main__header__edit
      %a= link_to 'Edit' , "#" ,class: "a"

  .chat-main__messageList
    - @messages.each do |message|
      .chat-main__messageList__userName{data: {message: {id: message.id}}}
        = message.user.name
        .chat-main__messageList__userName__date
          = message.created_at.strftime("%Y年%m月%d日 %H時%M分")
      .chat-main__messageList__message
        = message.content
      = image_tag "#{message.image}" , class: "chat-main__messageList__message__image" if message.image

  -# .messages
  -#     = render @messages
    

  .chat-main__messageForm
    .chat-main__messageForm__inputSpace
      = form_for [@group, @message] do |f|
        = f.text_field :content, class: 'chat-main__messageForm__inputSpace__text', placeholder: 'type a message'
        .chat-main__messageForm__inputSpace__text__image
          = f.label :image, class: 'chat-main__messageForm__inputSpace__text__image' do
            = icon('fa fa-image', 'image', class: 'icon')
            = f.file_field :image, class: 'hidden'
        = f.submit 'Send', class: 'chat-main__messageForm__inputSpace__text__send'

    
   